.task_item {
  box-sizing: border-box;
  margin: 15px 0;
  padding: 8px;
  text-align: left;
  list-style: none;
  background: #ffffff;
  border-radius: 5px;
}

.input_container,
.selectContainer {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #ffffff;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  height: 35px;
  display: flex;
  cursor: pointer;
}

.input {
  margin: 0 12px 7px 12px;
  outline: none;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.add_cart_button,
.submit_button {
  margin-top: 12px;
  width: 102px;
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  font: inherit;
  background: #ffffff;
  border-radius: 5px;
  color: #5e6c84;
  box-shadow: 0 0 3px #808080;
  cursor: pointer;
}

.plus {
  font-size: 28px;
  font-weight: 400;
}

.add_cart_button:disabled {
  cursor: default;
  color: #5e6c8475;
}

.submit_button {
  background-color: #0079bf;
  color: #fff;
  border-radius: 5px;
  justify-content: center;
}

.selectContainer {
  padding-left: 7px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 12px;
  background-image: url('../../assets/select-marker.svg');
}
