.main {
  /* background-color: #0079BF; */
  background: linear-gradient(to right, #0079bf, #0083cf);
}

.main_container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1235px;
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 110px);
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .main_container {
    flex-direction: column;
    align-items: stretch;
  }
}
