.description {
  background-color: #0079bf;
  margin: 0 auto;
  padding: 22px 26px;
}

.description_container {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  padding: 22px 28px;
  border-radius: 5px;
  max-width: 1207px;
  height: calc(100vh - 154px);
  text-align: left;
}

.name_container {
  display: flex;
  justify-content: space-between;
}

.name {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.little_prompt {
  font-size: 16px;
  color: #c2c2c2;
}

.x_symbol {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.text {
  max-width: 621px;
  font-size: 18px;
  line-height: 21px;
  margin-top: 35px;
}

.textarea {
  height: calc(100vh - 320px);
  width: 100%;
  max-width: 621px;
  font-size: 18px;
  line-height: 21px;
  margin-top: 35px;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 621px;
}

.save_button,
.delete_button {
  margin-top: 12px;
  width: 102px;
  height: 29px;
  display: flex;
  align-items: center;
  border: none;
  font: inherit;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0079bf;
  color: #fff;
  justify-content: center;
}

.delete_button_link {
  text-decoration: none;
}
